@import '../../../shared/colors';

mat-radio-group {
    display:flex;
    flex-wrap: wrap;
}

mat-radio-button {
    flex-basis:33.33%;
}

mat-form-field {
    width:100%;
}

.layout-icon {
    height:50px;
    width:50px;
    display:flex;
}

.layout-icon span, .layout-icon div {
    background: $dark-gray;
    height:100%;
    flex-basis: 100%;
    flex-shrink: 0;
    margin:0 4px;
}

.layout-icon div {
    padding-bottom:4px;
}

.layout-icon.split2 span {
    flex-basis: 50%;
}

.layout-icon.split3 span:first-of-type {
    flex-basis: 60%;
    flex-wrap: wrap;
}

.layout-icon.split3 div {
    display:flex;
    flex-basis: 40%;
    flex-direction: column;
    background:transparent;
}

.layout-icon.split3 div span {
    flex-basis:50%;
    margin:0;
}

.layout-icon.split3 div span:first-of-type {
    margin-bottom:2px;
}

.layout-icon.split3 div span:last-of-type {
    margin-top:2px;
}

.preview {
    padding: 0;
    background: #bda589;
    border: 2px solid #f3CD05;
    color: #36688D;
    display:inline-block;
    text-align: center;
}

.preview h3 {
    margin: 0;
    background: #f49f05;
    padding:10px;
    border-bottom: 2px solid #f18904;
}

.preview .description {
    border-bottom: 2px solid #f18904;
    padding: 30px;
}

.preview .description::ng-deep span {
    font-size: 200%;
    display:inline-block;
    width:100%;
}

.preview:nth-of-type(2) {
    background: #f18904;
    border: 2px solid #f3CD05;
    color: #36688D;
}

.preview:nth-of-type(2) h3 {
    background: #f49f05;
    border-bottom: 2px solid #bda589;
}

.preview:nth-of-type(2) .description {
    border-bottom: 2px solid #bda589;
}

.preview:nth-of-type(3) {
    background: #36688D;
    border: 2px solid #f18904;
    color: #f3CD05;
}

.preview:nth-of-type(3) h3 {
    background: #f49f05;
    border-bottom: 2px solid #bda589;
}

.preview:nth-of-type(3) .description {
    border-bottom: 2px solid #bda589;
}
