<h1 class="title"
    [innerText]="'coupon.description' | translate"></h1>
<mat-radio-group class="layouts">
    <mat-radio-button value="1">Single<br />
        <div class="layout-icon single">
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="2">2-way split<br />
        <div class="layout-icon split2">
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="3">3-way split<br />
        <div class="layout-icon split3">
            <span> </span>
            <div>
                <span> </span>
                <span> </span>
            </div>
        </div>
    </mat-radio-button>
</mat-radio-group>

<mat-radio-group class="colors">
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Classic and Retro<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Shimmering Blues and Greens<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Sunset over a swamp<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Mediteranean blues<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Exotic orchids<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Sophisticated and calm<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Magentas and yellows<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue mountain peaks and clouds<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Orange sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Vintage 1950s<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Vivid and retro<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Ornametal reds and yellows<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Turqoise and red<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sundew<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="1">Blue sunset<br />
        <div class="color-harmony">
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
</mat-radio-group>
    
<h1 class="title"
    [innerText]="'coupon.time' | translate"></h1>

<h1 class="title"
    [innerText]="'coupon.preview' | translate"></h1>

<a mat-raised-button color="primary">Publish</a>
<a mat-raised-button color="primary">Share on Facebook</a>
<a mat-raised-button color="primary">Share on Twitter</a>
