<h1 class="title"
    [innerText]="'coupon.description' | translate"></h1>

<mat-form-field>
    <input matInput [(ngModel)]="title" placeholder="Title, location, name" />
</mat-form-field>
<h2>Select a layout</h2>
<mat-radio-group class="layouts" [(ngModel)]="layout" (change)="emptyDeals()">
    <mat-radio-button value="1">Single<br />
        <div class="layout-icon single">
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="2">2-way split<br />
        <div class="layout-icon split2">
            <span> </span>
            <span> </span>
        </div>
    </mat-radio-button>
    <mat-radio-button value="3">3-way split<br />
        <div class="layout-icon split3">
            <span> </span>
            <div>
                <span> </span>
                <span> </span>
            </div>
        </div>
    </mat-radio-button>
</mat-radio-group>

<h2>Select a color theme</h2>
<seed-colors></seed-colors>

<h2>Enter a description</h2>
<mat-form-field *ngFor="let d of deals; let i = index">
    <input matInput [(ngModel)]="deals[i]" [value]="d" />
</mat-form-field>

<h1 class="title"
    [innerText]="'coupon.time' | translate"></h1>

<seed-schedule (change)="setTime($event)"></seed-schedule>

<h1 class="title"
    [innerText]="'coupon.preview' | translate"></h1>

<div class="previews">
    <div class="preview">
        <h3>{{ time }}</h3>
        <div class="description" [innerHtml]="getSpan(deals[0])"></div>
        <small>{{ title }}</small>
    </div>
    <div class="preview">
        <h3>{{ time }}</h3>
        <div class="description" [innerHtml]="getSpan(deals[1])"></div>
        <small>{{ title }}</small>
    </div>
    <div class="preview">
        <h3>{{ time }}</h3>
        <div class="description" [innerHtml]="getSpan(deals[2])"></div>
        <small>{{ title }}</small>
    </div>
</div>
<br />
<br />
<a mat-raised-button color="primary">Publish</a>
<a mat-raised-button color="primary">Share on Facebook</a>
<a mat-raised-button color="primary">Share on Twitter</a>
<button mat-button color="primary">Remove</button>
