
mat-radio-group {
    display:flex;
    flex-wrap: wrap;
}

mat-radio-button {
    flex-basis:33.33%;
}

.color-harmony {
    display:flex;
}

.color-harmony span {
    height:30px;
    width:30px;
    flex-shrink: 0;
    flex-grow: 0;
    margin:0 4px;
    border-radius: 100%;
}

.colors mat-radio-button:nth-of-type(1) .color-harmony {
    span:nth-of-type(1) { background: #36688D; }
    span:nth-of-type(2) { background: #f3CD05; }
    span:nth-of-type(3) { background: #f49f05; }
    span:nth-of-type(4) { background: #f18904; }
    span:nth-of-type(5) { background: #bda589; }
}

.colors mat-radio-button:nth-of-type(2) .color-harmony {
    span:nth-of-type(1) { background: #a7414a; }
    span:nth-of-type(2) { background: #282726; }
    span:nth-of-type(3) { background: #6a8a82; }
    span:nth-of-type(4) { background: #a37c27; }
    span:nth-of-type(5) { background: #563838; }
}

.colors mat-radio-button:nth-of-type(3) .color-harmony {
    span:nth-of-type(1) { background: #0444bf; }
    span:nth-of-type(2) { background: #0584f2; }
    span:nth-of-type(3) { background: #0aaff1; }
    span:nth-of-type(4) { background: #edf259; }
    span:nth-of-type(5) { background: #a79674; }
}

.colors mat-radio-button:nth-of-type(4) .color-harmony {
    span:nth-of-type(1) { background: #6465a5; }
    span:nth-of-type(2) { background: #6975a6; }
    span:nth-of-type(3) { background: #f3e96b; }
    span:nth-of-type(4) { background: #f28a30; }
    span:nth-of-type(5) { background: #f05837; }
}

.colors mat-radio-button:nth-of-type(5) .color-harmony {
    span:nth-of-type(1) { background: #aba6bf; }
    span:nth-of-type(2) { background: #595775; }
    span:nth-of-type(3) { background: #583e2e; }
    span:nth-of-type(4) { background: #f1e0d6; }
    span:nth-of-type(5) { background: #bf988f; }
}

.colors mat-radio-button:nth-of-type(6) .color-harmony {
    span:nth-of-type(1) { background: #192e5b; }
    span:nth-of-type(2) { background: #1d65a6; }
    span:nth-of-type(3) { background: #72a2c0; }
    span:nth-of-type(4) { background: #00743f; }
    span:nth-of-type(5) { background: #f2a104; }
}

.colors mat-radio-button:nth-of-type(7) .color-harmony {
    span:nth-of-type(1) { background: #040c0e; }
    span:nth-of-type(2) { background: #132226; }
    span:nth-of-type(3) { background: #525b56; }
    span:nth-of-type(4) { background: #be906e; }
    span:nth-of-type(5) { background: #a4978e; }
}

.colors mat-radio-button:nth-of-type(8) .color-harmony {
    span:nth-of-type(1) { background: #daa2da; }
    span:nth-of-type(2) { background: #dbb4da; }
    span:nth-of-type(3) { background: #de8cf0; }
    span:nth-of-type(4) { background: #bed905; }
    span:nth-of-type(5) { background: #93a806; }
}

.colors mat-radio-button:nth-of-type(9) .color-harmony {
    span:nth-of-type(1) { background: #a4a4bf; }
    span:nth-of-type(2) { background: #16235a; }
    span:nth-of-type(3) { background: #2a3457; }
    span:nth-of-type(4) { background: #888c46; }
    span:nth-of-type(5) { background: #f2eaed; }
}

.colors mat-radio-button:nth-of-type(10) .color-harmony {
    span:nth-of-type(1) { background: #a3586d; }
    span:nth-of-type(2) { background: #5c4a72; }
    span:nth-of-type(3) { background: #f3b05a; }
    span:nth-of-type(4) { background: #f4874b; }
    span:nth-of-type(5) { background: #f46a4e; }
}

.colors mat-radio-button:nth-of-type(11) .color-harmony {
    span:nth-of-type(1) { background: #80add7; }
    span:nth-of-type(2) { background: #0abda0; }
    span:nth-of-type(3) { background: #ebf2ea; }
    span:nth-of-type(4) { background: #d4dca9; }
    span:nth-of-type(5) { background: #bf9d7a; }
}

.colors mat-radio-button:nth-of-type(12) .color-harmony {
    span:nth-of-type(1) { background: #c0334d; }
    span:nth-of-type(2) { background: #d6618f; }
    span:nth-of-type(3) { background: #f3d4a0; }
    span:nth-of-type(4) { background: #f1931b; }
    span:nth-of-type(5) { background: #8f715b; }
}

.colors mat-radio-button:nth-of-type(13) .color-harmony {
    span:nth-of-type(1) { background: #270101; }
    span:nth-of-type(2) { background: #720017; }
    span:nth-of-type(3) { background: #d8d583; }
    span:nth-of-type(4) { background: #d9ac2a; }
    span:nth-of-type(5) { background: #763f02; }
}

.colors mat-radio-button:nth-of-type(14) .color-harmony {
    span:nth-of-type(1) { background: #04060f; }
    span:nth-of-type(2) { background: #03353e; }
    span:nth-of-type(3) { background: #0294a5; }
    span:nth-of-type(4) { background: #a79c93; }
    span:nth-of-type(5) { background: #c1403d; }
}

.colors mat-radio-button:nth-of-type(15) .color-harmony {
    span:nth-of-type(1) { background: #752333; }
    span:nth-of-type(2) { background: #0438a3; }
    span:nth-of-type(3) { background: #05328e; }
    span:nth-of-type(4) { background: #043d8c; }
    span:nth-of-type(5) { background: #8e5c1d; }
}

.colors mat-radio-button:nth-of-type(16) .color-harmony {
    span:nth-of-type(1) { background: #1f1641; }
    span:nth-of-type(2) { background: #022172; }
    span:nth-of-type(3) { background: #0486db; }
    span:nth-of-type(4) { background: #05acd3; }
    span:nth-of-type(5) { background: #bbbf95; }
}

.colors mat-radio-button:nth-of-type(17) .color-harmony {
    span:nth-of-type(1) { background: #6c6b74; }
    span:nth-of-type(2) { background: #2e303e; }
    span:nth-of-type(3) { background: #9199be; }
    span:nth-of-type(4) { background: #54678f; }
    span:nth-of-type(5) { background: #212624; }
}

.colors mat-radio-button:nth-of-type(18) .color-harmony {
    span:nth-of-type(1) { background: #594346; }
    span:nth-of-type(2) { background: #212027; }
    span:nth-of-type(3) { background: #f22f08; }
    span:nth-of-type(4) { background: #8d2f23; }
    span:nth-of-type(5) { background: #561e18; }
}

.colors mat-radio-button:nth-of-type(19) .color-harmony {
    span:nth-of-type(1) { background: #522e75; }
    span:nth-of-type(2) { background: #02080f; }
    span:nth-of-type(3) { background: #52591f; }
    span:nth-of-type(4) { background: #a3765d; }
    span:nth-of-type(5) { background: #714e3d; }
}

.colors mat-radio-button:nth-of-type(20) .color-harmony {
    span:nth-of-type(1) { background: #1b1924; }
    span:nth-of-type(2) { background: #b5c1b4; }
    span:nth-of-type(3) { background: #dcd9c6; }
    span:nth-of-type(4) { background: #74593d; }
    span:nth-of-type(5) { background: #3f3232; }
}

.colors mat-radio-button:nth-of-type(21) .color-harmony {
    span:nth-of-type(1) { background: #d50b53; }
    span:nth-of-type(2) { background: #f4f3f4; }
    span:nth-of-type(3) { background: #a882c1; }
    span:nth-of-type(4) { background: #824ca7; }
    span:nth-of-type(5) { background: #b9c406; }
}

.colors mat-radio-button:nth-of-type(22) .color-harmony {
    span:nth-of-type(1) { background: #c2d3da; }
    span:nth-of-type(2) { background: #81a3a7; }
    span:nth-of-type(3) { background: #585a56; }
    span:nth-of-type(4) { background: #f1f3f2; }
    span:nth-of-type(5) { background: #272424; }
}

.colors mat-radio-button:nth-of-type(23) .color-harmony {
    span:nth-of-type(1) { background: #776b04; }
    span:nth-of-type(2) { background: #423a01; }
    span:nth-of-type(3) { background: #f4d993; }
    span:nth-of-type(4) { background: #704404; }
    span:nth-of-type(5) { background: #f2ece1; }
}

.colors mat-radio-button:nth-of-type(24) .color-harmony {
    span:nth-of-type(1) { background: #1c2c58; }
    span:nth-of-type(2) { background: #415939; }
    span:nth-of-type(3) { background: #f4f2b1; }
    span:nth-of-type(4) { background: #f3efca; }
    span:nth-of-type(5) { background: #8a5d59; }
}

.colors mat-radio-button:nth-of-type(25) .color-harmony {
    span:nth-of-type(1) { background: #bb1924; }
    span:nth-of-type(2) { background: #ee6c81; }
    span:nth-of-type(3) { background: #f092a5; }
    span:nth-of-type(4) { background: #777ca8; }
    span:nth-of-type(5) { background: #afbadc; }
}

.colors mat-radio-button:nth-of-type(26) .color-harmony {
    span:nth-of-type(1) { background: #003d73; }
    span:nth-of-type(2) { background: #0878a4; }
    span:nth-of-type(3) { background: #1ecfd6; }
    span:nth-of-type(4) { background: #edd170; }
    span:nth-of-type(5) { background: #c05640; }
}

.colors mat-radio-button:nth-of-type(27) .color-harmony {
    span:nth-of-type(1) { background: #5c3d46; }
    span:nth-of-type(2) { background: #5c868d; }
    span:nth-of-type(3) { background: #99bfaa; }
    span:nth-of-type(4) { background: #c8d6ca; }
    span:nth-of-type(5) { background: #e7f5de; }
}

.colors mat-radio-button:nth-of-type(28) .color-harmony {
    span:nth-of-type(1) { background: #55d9c0; }
    span:nth-of-type(2) { background: #c7f6ec; }
    span:nth-of-type(3) { background: #107050; }
    span:nth-of-type(4) { background: #02231c; }
    span:nth-of-type(5) { background: #4dd8ad; }
}

.colors mat-radio-button:nth-of-type(29) .color-harmony {
    span:nth-of-type(1) { background: #728ca3; }
    span:nth-of-type(2) { background: #73c0f4; }
    span:nth-of-type(3) { background: #e6eff3; }
    span:nth-of-type(4) { background: #f3e4c6; }
    span:nth-of-type(5) { background: #8f4f06; }
}

.colors mat-radio-button:nth-of-type(30) .color-harmony {
    span:nth-of-type(1) { background: #07000e; }
    span:nth-of-type(2) { background: #eecc8d; }
    span:nth-of-type(3) { background: #f08b33; }
    span:nth-of-type(4) { background: #d75404; }
    span:nth-of-type(5) { background: #8a2c02; }
}

.colors mat-radio-button:nth-of-type(31) .color-harmony {
    span:nth-of-type(1) { background: #bd3e85; }
    span:nth-of-type(2) { background: #182657; }
    span:nth-of-type(3) { background: #121f40; }
    span:nth-of-type(4) { background: #d59b2d; }
    span:nth-of-type(5) { background: #8d541e; }
}

.colors mat-radio-button:nth-of-type(32) .color-harmony {
    span:nth-of-type(1) { background: #7b8937; }
    span:nth-of-type(2) { background: #6b7436; }
    span:nth-of-type(3) { background: #f4d9c1; }
    span:nth-of-type(4) { background: #d72f01; }
    span:nth-of-type(5) { background: #f09e8c; }
}

.colors mat-radio-button:nth-of-type(33) .color-harmony {
    span:nth-of-type(1) { background: #d75b66; }
    span:nth-of-type(2) { background: #23345c; }
    span:nth-of-type(3) { background: #f1ba48; }
    span:nth-of-type(4) { background: #bd8a44; }
    span:nth-of-type(5) { background: #bfafa0; }
}

.colors mat-radio-button:nth-of-type(34) .color-harmony {
    span:nth-of-type(1) { background: #582a20; }
    span:nth-of-type(2) { background: #be7052; }
    span:nth-of-type(3) { background: #f1ded1; }
    span:nth-of-type(4) { background: #f2c083; }
    span:nth-of-type(5) { background: #9499a6; }
}

.colors mat-radio-button:nth-of-type(35) .color-harmony {
    span:nth-of-type(1) { background: #f4ed71; }
    span:nth-of-type(2) { background: #8a8604; }
    span:nth-of-type(3) { background: #cac7d7; }
    span:nth-of-type(4) { background: #04030c; }
    span:nth-of-type(5) { background: #383140; }
}

.colors mat-radio-button:nth-of-type(36) .color-harmony {
    span:nth-of-type(1) { background: #a3445d; }
    span:nth-of-type(2) { background: #8d2d56; }
    span:nth-of-type(3) { background: #0d050e; }
    span:nth-of-type(4) { background: #2b193e; }
    span:nth-of-type(5) { background: #d53c3c; }
}

.colors mat-radio-button:nth-of-type(37) .color-harmony {
    span:nth-of-type(1) { background: #24150e; }
    span:nth-of-type(2) { background: #3f2a1d; }
    span:nth-of-type(3) { background: #8e6248; }
    span:nth-of-type(4) { background: #8c7462; }
    span:nth-of-type(5) { background: #f2ebe9; }
}

.colors mat-radio-button:nth-of-type(38) .color-harmony {
    span:nth-of-type(1) { background: #10000C; }
    span:nth-of-type(2) { background: #515b51; }
    span:nth-of-type(3) { background: #8c7547; }
    span:nth-of-type(4) { background: #efa747; }
    span:nth-of-type(5) { background: #bac6ac; }
}

.colors mat-radio-button:nth-of-type(39) .color-harmony {
    span:nth-of-type(1) { background: #f1445b; }
    span:nth-of-type(2) { background: #65734b; }
    span:nth-of-type(3) { background: #94a453; }
    span:nth-of-type(4) { background: #d9c3b1; }
    span:nth-of-type(5) { background: #f03625; }
}

.colors mat-radio-button:nth-of-type(40) .color-harmony {
    span:nth-of-type(1) { background: #c59cdb; }
    span:nth-of-type(2) { background: #dfd0f1; }
    span:nth-of-type(3) { background: #a67b04; }
    span:nth-of-type(4) { background: #f3eed6; }
    span:nth-of-type(5) { background: #701b05; }
}

.colors mat-radio-button:nth-of-type(41) .color-harmony {
    span:nth-of-type(1) { background: #000D29; }
    span:nth-of-type(2) { background: #118c8b; }
    span:nth-of-type(3) { background: #bca18d; }
    span:nth-of-type(4) { background: #f2746b; }
    span:nth-of-type(5) { background: #f14d49; }
}

.colors mat-radio-button:nth-of-type(42) .color-harmony {
    span:nth-of-type(1) { background: #e4ebf2; }
    span:nth-of-type(2) { background: #52733b; }
    span:nth-of-type(3) { background: #84a45a; }
    span:nth-of-type(4) { background: #818a6f; }
    span:nth-of-type(5) { background: #715e4e; }
}

.colors mat-radio-button:nth-of-type(43) .color-harmony {
    span:nth-of-type(1) { background: #14325c; }
    span:nth-of-type(2) { background: #5398d9; }
    span:nth-of-type(3) { background: #f4e3b1; }
    span:nth-of-type(4) { background: #d96b0c; }
    span:nth-of-type(5) { background: #a53a3b; }
}

.colors mat-radio-button:nth-of-type(44) .color-harmony {
    span:nth-of-type(1) { background: #8ed3f4; }
    span:nth-of-type(2) { background: #e4ebf2; }
    span:nth-of-type(3) { background: #328daa; }
    span:nth-of-type(4) { background: #8a8683; }
    span:nth-of-type(5) { background: #5a4d4c; }
}

.colors mat-radio-button:nth-of-type(45) .color-harmony {
    span:nth-of-type(1) { background: #5aa382; }
    span:nth-of-type(2) { background: #78d6ac; }
    span:nth-of-type(3) { background: #bda728; }
    span:nth-of-type(4) { background: #704307; }
    span:nth-of-type(5) { background: #f7b178; }
}

.colors mat-radio-button:nth-of-type(46) .color-harmony {
    span:nth-of-type(1) { background: #e0e8f0; }
    span:nth-of-type(2) { background: #51a2d9; }
    span:nth-of-type(3) { background: #53c0f0; }
    span:nth-of-type(4) { background: #b9e5f3; }
    span:nth-of-type(5) { background: #8a140e; }
}

.colors mat-radio-button:nth-of-type(47) .color-harmony {
    span:nth-of-type(1) { background: #d9dcd8; }
    span:nth-of-type(2) { background: #9ba747; }
    span:nth-of-type(3) { background: #f29d4b; }
    span:nth-of-type(4) { background: #d57030; }
    span:nth-of-type(5) { background: #8b281f; }
}

.colors mat-radio-button:nth-of-type(48) .color-harmony {
    span:nth-of-type(1) { background: #be3b45; }
    span:nth-of-type(2) { background: #f07995; }
    span:nth-of-type(3) { background: #f3f1f3; }
    span:nth-of-type(4) { background: #a58e87; }
    span:nth-of-type(5) { background: #be302b; }
}

.colors mat-radio-button:nth-of-type(49) .color-harmony {
    span:nth-of-type(1) { background: #235f5b; }
    span:nth-of-type(2) { background: #4f728e; }
    span:nth-of-type(3) { background: #be8260; }
    span:nth-of-type(4) { background: #d7b095; }
    span:nth-of-type(5) { background: #74412b; }
}

.colors mat-radio-button:nth-of-type(50) .color-harmony {
    span:nth-of-type(1) { background: #d3d0da; }
    span:nth-of-type(2) { background: #b5b3be; }
    span:nth-of-type(3) { background: #4e7ba7; }
    span:nth-of-type(4) { background: #d28f1b; }
    span:nth-of-type(5) { background: #a7907f; }
}
