:host {
    background: url("../../../../assets/images/home-back.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    display:flex;
    flex-direction: column;
}